@model OdeToFood.Models.Restaurant

@{
    ViewBag.Title = "Details";
}



<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h2>Reviews</h2>

@foreach (var review in Model.Reviews)
{
    @Html.Partial("_Review", review)
}

@Html.ActionLink("Create a new review", "Create", "Reviews", new { restaurantID = Model.ID}, null)