@model IEnumerable<OdeToFood.Models.Restaurant>

<p>
    @Html.ActionLink("Create New", "Create")

</p>
@*Filter Functionality*@
@*@using (Html.BeginForm("Index", "Restaurant", FormMethod.Get))
{
    @Html.DropDownList("state", new SelectList(ViewBag.States))
    <input type="submit" value="Filter" />

}*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ChefsName)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Name)*@
            @Html.ActionLink(item.Name, "Details", "Restaurant", new { id=item.ID}, null)
        </td>
        <td>
            @item.Address.City, @item.Address.State
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ChefsName)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
       
    </tr>
}

</table>
@Html.ActionLink("Show restaurants in FL", "Index", "Restaurant", new {state = "FL" }, null)
