@using OdeToFood.Models
@model OdeToFood.Models.Review


@{
    ViewBag.Title = "Home Page";
}

@ViewBag.Message


<p>
    You are logged in as @User.Identity.Name
</p>

<div id="latestReview">
    @Ajax.ActionLink("Click Here to see the latest review",
        "LatestReview", new AjaxOptions
        {
            UpdateTargetId = "latestReview",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            LoadingElementId = "progress"

        })

</div>
@*<div id="progress">
    <img src="~/Content/themes/base/images/ajax-loader.gif" alt="loader" />
</div>*@


@*@using (Ajax.BeginForm("Search", "Home", new AjaxOptions { 
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "searchResults"}))
    {
        
    <input type="text" name="q" class="ui-autocomplete" />
    <input type="submit" value="Search"/>
    }*@



<form method="GET" action="@Url.Action("JsonSearch", "Home")" id="SearchForm">
    <div>
    <input type="text" name="q" data-autocomplete="@Url.Action("QuickSearch", "Home")"/>
    <input type="submit" value="Search"/>
    </div>

    </form><form>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
        </tr>
        </thead>
        
        <tbody id="searchResults"></tbody>

    </table>


</form>
   


@*<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Address</th>
    </tr>
    </thead>

    <tbody id="searchResults">

    </tbody>
    
</table>*@

<div>
<script id="searchTemplate" type="text/x-jquery-tmpl">

    <tr>
        <td>
            ${Name}
        </td>
        <td>
            ${City}, ${Country}
        </td>
    </tr>
</script>


</div>











<div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p>
                    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p>
                    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p>
                    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
                </p>
            </div>


        </div>
        Restuarant : @Model.Name
        <br />
        Rating : @Model.Rating
