@model OdeToFood.Models.Review

<div>
   

    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>
                Name
            </th>
            <th>
                Rating
            </th>
            <th>
                Body
            </th>
            <th>
                Dining Date
            </th>
            <th>
                
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.DiningDate)
            </td>
            <td>
                @Html.ActionLink("Go Back!", "Index", "Home")

            </td>
        </tr>

    </table>
</div>